.body {
    display: flex;
}

.header {
    background-color: #4560C7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.header img {
    flex-shrink: 0;
    height: 80px;
    padding-left: 16px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #eeeeee;
    font-size: larger;
}

.hello {
    background-color: #4560C7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 80px;
    gap: 20px;
}

.greeting {
    flex: 0 0 400px;
    height: 260px;
    max-width: 400;
    color: white;
}

.greeting h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
}

.greeting p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #eeeeee;
}

.greeting button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #D5B3EF;
}

.hello img {
    flex: 0 0 400px;
    max-width: 400px;
}

.info {
    padding-bottom: 40px;
}

.info p {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #4560C7
}

.hobby-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info p {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #4560C7
}

.hobby img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    border: 3px solid #D5B3EF;
}

.subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4560C7;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.quote {

}

.email {
    
}

.footer {

}